.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #302e4d;
  margin-bottom: 15px;
}
.about .about-content .about-text p {
  line-height: 25px;
  font-size: 16px;
  color: #504e70;
  text-transform: capitalize;
  margin: 0;
}
.about .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  margin: 0;
  font-size: 16px;
  color: #302e4d;
  border-bottom: 1px solid #e8dfec;
}
.about .personal-info .info-item p span {
  font-weight: 400;
  color: #504e70;
  display: inline-block;
  margin-left: 4px;
}
.about .personal-info .buttons {
  margin-top: 30px;
}
.about .personal-info .buttons .btn {
  margin-left: 15px;
  margin-top: 10px;
}

.about .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.about .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #302e4d;
  text-transform: capitalize;
  margin: 0;
}
.about .skills .skill-item .progress {
  background-color: #e3e3e3;
  height: 8px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .skills .skill-item .progress .progress-in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.about .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  top: -40px;
  font-weight: 400;
  line-height: 40px;
  color: #302e4d;
}
.about .about-content .education {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #302e4d;
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: #fdf9ff;
  padding: 30px 15px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about .about-content .timeline .circule-dot {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
}
.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 12px;
  color: #504e70;
}
.about .about-content .timeline .timeline-date .fa {
  margin-left: 5px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: #302e4d;
}
.about .about-content .timeline .timeline-text {
  font-size: 16px;
  margin: 0;
  text-transform: capitalize;
  line-height: 25px;
  color: #504e70;
}
