/* aside  */
.aside {
  width: 270px;
  background-color: #fdf9ff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  border-right: 1px solid #e8dfec;
  padding: 30px;
  transition: all 0.5s ease;
}
.aside .logo {
  padding: 30px 0;
}
.aside .logo a {
  font-size: 40px;
  text-decoration: none;
  color: #302e4d;
  display: inline-block;
  position: relative;
  padding: 0 10px;
}
.aside .logo a::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.aside .logo a::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.aside .nav-toggler {
  width: 45px;
  height: 40px;
  background-color: #fdf9ff;
  border: 1px solid #d4d4e3;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  z-index: 20;
  border-radius: 5px;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.aside .nav-toggler span {
  height: 2px;
  width: 16px;
  display: inline-block;
  position: relative;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 16px;
  top: -6px;
  left: 0;
  position: absolute;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 16px;
  top: 6px;
  left: 0;
  position: absolute;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.aside .nav {
  margin: 80px 0;
  list-style: none;
  padding: 0;
}
.aside .nav li {
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #302e4d;
  line-height: 45px;
  display: block;
  border-bottom: 1px solid #e8dfec;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.4s ease;
  text-transform: capitalize;
}
.aside .nav li a:hover {
  padding-left: 10px;
}
.aside .nav li a .fa {
  margin: 0 5px;
}
.aside .copyright {
  background-color: #ededed;
  color: #7d7d7d;
  font-size: 12px;
}

/* responsive 
 */
@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }
  .about .personal-info .info-item p span {
    margin-left: 0;
    display: block;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open {
    left: 300px;
  }
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
  }
  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }
}
@media (max-width: 991px) {
  .blog .blog-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .blog .blog-item,
  .service .service-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio .portfolio-filter button {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
